* {
  box-sizing: border-box;
}

body {
  background: url('../desk-background.jpg');
  background-size: cover;
}

.on {
  text-align:left;
  padding:15px;
  border-radius:100%;
  float:left;
  margin-left:10%;
  background:darkgrey;
}

.display{
  font-family:VT323;
  font-size:1.5em;
  line-height:1;
  width:87.5%;
  height:50px;
  background:#000;
  display:block;
  margin: 10px auto;
  padding: 10px 0;
  border: 3px solid darkgrey;
  border-radius: 10px;
}
.calculator {
  width: 50%;
  min-width: 400px;
  padding: 10px 5px 30px 5px;
  margin: 40px auto;
  background: #ccc;
  text-align: center;
  border-radius: 20px;
  box-shadow: #222 5px 5px 5px;
}

.calc-buttons {
  width: 87.5%;
  margin: 0 auto;
  clear:left;
}

.number-buttons .button {
  width: 20%;
  margin: 5px 0;
}

.button {
  font-family:VT323;
  font-size:1.25em;
  padding: 15px 10px;
  border-radius: 10px;
  background: darkgrey;
}

input:focus {
    outline: none;
}

.operator-buttons .button {
  width: 45%;
  margin: 5px 0;
}

.operator-buttons {
  float: right;
  width: 30%;
  text-align: right;
}

.number-buttons {
  float:left;
  width: 70%;
  text-align: left;
}

.equal {
  width: 100%;
  display: inline;
  margin-top: 10px
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
